* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  color: #202020;
  line-height: 1.1em;
}

button {
  outline: none;
  border: none;

  cursor: pointer;
}

input {
  outline: none;
}

.container {
  width: 80%;
  max-width: 1440px;

  margin: auto;

  display: flex;
  align-items: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px 20px;
}

.section {
  width: 100%;
}

.card {
  width: 100%;

  padding: 20px;
  padding-top: 10px;
  border-radius: 15px;
  border: 1px solid #cfcfcf;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fdfdfd;
}

.card__img {
  width: 100%;
  height: auto;
}

.card-title {
  font-weight: 700;
  font-size: 28px;
  margin-top: 20px;

  width: 100%;
}

.card-cost {
  width: 100%;
  font-size: 21px;
  font-weight: 500;
  color: #5e5e5e;
  white-space: nowrap;
}

.count-btn {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid #d6d6d6;
  background-color: #e2e2e2;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
}

.count-text {
  font-size: 16px;
  font-weight: 700;
}

.counter {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.between-row {
  width: 100%;
  margin-top: 15px;
  grid-gap: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-btn {
  padding: 7px 14px;
  border-radius: 20px;

  background-color: #c2270b;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.header {
  padding: 20px 0;
  grid-gap: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container {
  grid-gap: 30px;
}

a {
  text-decoration: none;
}

.header-link {
  font-size: 20px;
  font-weight: 500;
  color: #c2270b;
  text-transform: uppercase;
}

.header-link:hover {
  text-decoration: underline;
}

.main {
  padding: 60px 0;
}

.field {
  max-width: 300px;
  width: 100%;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid #cfcfcf;

  font-size: 20px;
  font-weight: 500;

  background-color: #fff;
}

.search-container {
  margin-bottom: 20px;
}

.add-form {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.title {
  font-size: 32px;
  line-height: 1.1em;
}

.btn {
  padding: 12px 40px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #c2270b;

  border-radius: 40px;
}

.basket {
  position: absolute;
  right: 15px;
  top: 15px;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.basket img {
  width: 30px;
  height: 30px;
}

.basket-item {
  width: 100%;
  height: 150px;

  display: flex;
  grid-gap: 20px;
}

.basket-item__content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.basket-item__content p {
  font-size: 18px;
  font-weight: 500;
}

.basket-item__img {
  width: 150px;
  height: 150px;
}

.basket-setcion {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
